<div class="important" movement="0">
  <h3>The Important Stuff</h3>
  <div id="thestuff">
    <h4>Problem Statement</h4>
    <%= simple_format(@project.problem_statement, sanitize: false) %>
  </div>
  <div id="thestuff">
    <h4>Hook</h4>
    <%= simple_format(@project.content, sanitize: false) %>
  </div>
</div>
