<div class="autre" movement="2">
  <h3>The Other Stuff</h3>
  <div id="thestuff">
    <h4>Pathways</h4>
    <p><%= project.pathways %></p>
    <p></p>
  </div>
  <div id="thestuff">
    <h4>Hints</h4>
    <p><%= project.hints %></p>
  </div>

  <div id="thestuff">
    <h4>Teacher Moves</h4>
    <p><%= project.teacher_moves %></p>
  </div>
</div>
