<div class="deets" movement="1">
  <h3>The Details</h3>
  <div id="thestuff">
    <h4>History</h4>
    <p><%= project.history %></p>
  </div>
  <div id="thestuff">
    <h4>Standards</h4>
    <p><%= project.standards %></p>
  </div>
</div>
