<div class="important" movement="0">
  <h3>The Important Stuff</h3>
  <div id="thestuff">
    <h4>Problem Statement</h4>
    <p><%= @project.problem_statement %></p>
  </div>
  <div id="thestuff">
    <h4>Hook</h4>
    <p><%= @project.why %></p>
  </div>
</div>
