<div class="autre" movement="2">
  <h3>The Other Stuff</h3>
  <% @other_fields.each do |field_tuple| %>
    <% if field_tuple.content.length > 0 %>
      <div id="thestuff">
        <h4><%= field_tuple.label %></h4>
        <%= simple_format(field_tuple.content, sanitize: false) %>
      </div>
    <% end %>
  <% end %>
</div>
