@mixin create() {

  background-color: #eaeaea;

  #menu {
    /* Align links to the right*/
    text-align: right;
  }
  #menu div.logo {
    /*Problems logo position*/
    position: absolute;
    text-align: left;
    top: 30px;
  }
  .nav {
    border: 1px solid white;
    margin-left: -8px;
    margin-top: -7px;
    margin-right: -8px;
    padding-bottom: -5px;
    height: 100px;
    background-color: white;
  }
  .logo a {
    /*Problems logo*/
    font-family: "Arial", Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(65, 64, 66);
    padding-left: 110px;
    font-size: 30px;
    text-decoration: none;
  }
  .links {
    /*Shift links to the left a little*/
    margin-right: 70px;
  }
  .links a {
    color: rgb(65, 64, 66);
    text-transform: uppercase;
    text-align: left;
    font-size: 10px;
    text-decoration: none;
    font-family: "Arial", Helvetica, sans-serif;
    display: inline-block;
    font-weight: lighter;
    border: 2px solid #fff;
    padding: 10px;
  }
  .links ul {
    display: inline;
    margin: 0;
    padding: 0;
  }
  .links ul li ul li:hover {
    background: rgb(0, 192, 255);
  }
  .links a:hover {
    background-color: rgb(137, 147, 159);
    color: #fff;
  }
  .links ul li {
    display: inline-block;
  }
  .links ul li:hover {
    background: white;
  }
  .links ul li:hover ul {
    display: block;
    border: 2px solid rgb(234, 234, 234);
  }
  .links ul li ul {
    position: absolute;
    width: 150px;
    display: none;
  }
  .links ul li ul li {
    background: white;
    display: block;
  }
  .links ul li ul li a {
    display: block !important;
  }
  .links ul li ul li:hover {
    background: rgb(0, 192, 255);
  }
  .nav .header ul {
    background-color: rgb(137, 147, 159);
    color: #5a5a5a;
    font-size: 9.5px;
    font-weight: lighter;
    padding: 12px 100px;
    text-transform: uppercase;
  }
  .nav .header a {
    color: rgb(234, 234, 234);
  }
  .header i {
    /*Make the icon the right color*/
    color: white;
  }
  .nav li {
    display: inline;
    color: rgb(234, 234, 234);
  }

  /*----Not nav bar stuff----*/
  .main:before,
  .main:after {
    content: "";
    display: table;
  }
  .main:after {
    clear: both;
  }
  .main {
    background: #eaeaea;
    *zoom: 1;
  }
  section,
  aside {
    background-color: white;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
  }
  section {
    float: right;
    width: 59%;
  }
  aside {
    float: left;
    width: 20%;
    background-color: #eaeaea;
  }
  .drop {
    display: block;
    font: 10px Helvetica, Tahoma, serif;
    text-transform: uppercase;
    width: 100%;
    padding: 0;
  }
  .drop i {
    float: right;
    margin-left: 5px;
    color: #89939f;
  }
  .drop li {
    list-style: none;
  }
  .drop .button-dropdown {
    position: relative;
  }
  .drop li a {
    display: block;
    color: #89939f;
    background-color: #fff;
    padding: 10px;
    text-decoration: none;
  }
  .dropdown-toggle {
    border: 2px solid #89939f;
    border-radius: 3px;
    display: block;
    color: #89939f;
    background-color: #fff;
    padding: 10px;
    text-decoration: none;
  }
  .dropdown-menu li a:hover,
  .nav li a.dropdown-toggle.active {
    background-color: #00c0ff;
    color: #fff;
  }
  .drop li .dropdown-menu {
    display: none;
    left: 0;
    padding: 0;
    margin: 0;
    margin-top: 6px;
    text-align: left;
  }
  .drop li .dropdown-menu a {
    width: 90%;
  }
  .save {
    margin-top: 16px;
  }
  .save a {
    border: 1px solid #89939f;
    border-radius: 3px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 13px;
    background-color: #89939f;
    padding: 6px 28%;
    text-decoration: none;
    color: #fff;
  }
  .save a:hover {
    /*Styling for the Edit button when hovered over by the mouse*/
    background-color: #00c0ff;
    border: 1px solid #00c0ff;
  }
  .save a:active {
    /*Change the edit button color when clicked*/
    background-color: #fff;
    border: 1px solid #00c0ff;
    color: #00c0ff;
  }
  .rresources {
    margin-top: 70px;
    background-color: #fff;
  }
  .rresources h2 {
    font-family: "Arial", Helvetica, sans-serif;
    color: #fff;
    border: 1px solid #89939f;
    background-color: #89939f;
    padding: 5px 10px 5px 13px;
    margin-top: -0.1px;
    margin-bottom: -0.1px;
  }
  #rimagepart {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #c2c2c2;
  }
  #rupload {
    width: 27%;
    display: block;
    border: 2px dashed #c2c2c2;
    padding: 32px 33%;
    margin-bottom: 15px;
    margin-top: 4px;
  }
  #rslide {
    border: 1px solid white;
    float: left;
    display: inline;
    background-color: white;
    padding: 13px 0 7px 10px;
  }
  .rboxes ul {
    margin-left: -40px;
    margin-right: 12px;
  }
  .rboxes li {
    /*Styling the resources boxes to look nice*/
    display: block;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 13px;
    padding: 3px;
    margin-bottom: 10px;
    border: 1px solid rgb(137, 147, 159);
    text-decoration: none;
    background-color: #89939f;
    color: #fff;
  }
  .rboxes p {
    /*Styling the Or choose a file*/
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 12px;
    color: #89939f;
  }
  aside i {
    color: white;
    float: right;
  }
  .place {
    padding: 13px 0 13px 13px;
  }
  .tags {
    margin-top: 377px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 12px;
    color: #89939f;
    background-color: #fff;
    display: block;
  }
  .tags h2 {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 23px;
    color: #fff;
    border: 1px solid #89939f;
    background-color: #89939f;
    padding: 5px 10px 5px 13px;
    margin-top: -0.1px;
    margin-bottom: -0.1px;
  }
  section i {
    float: right;
  }
  .important {
    /*Make the The Important Stuff area white*/
    background-color: #fff;
  }
  .important h2 {
    /*Styling the header*/
    font-family: "Arial", Helvetica, sans-serif;
    border: 1px solid rgb(144, 223, 0);
    background-color: rgb(144, 223, 0);
    padding: 5px 10px 5px 13px;
    color: #414042;
    margin-top: -0.1px;
    margin-bottom: -0.1px;
  }
  #left {
    border: 1px solid white;
    background-color: #fff;
    width: 29.35483871%;
    float: left;
    display: inline;
    padding-top: 1.95%;
    padding-bottom: 1.95%;
  }
  #middle {
    border: 1px solid white;
    background-color: #fff;
    width: 29.35483871%;
    /*29.35483871%*/
    float: left;
    display: inline;
    padding-top: 1.95%;
    padding-bottom: 1.95%;
  }
  #right {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 12px;
    color: #c2c2c2;
    border: 1px solid white;
    background-color: #fff;
    float: left;
    display: inline;
    width: 40.32258065%;
    margin-left: 0;
    padding-top: 1.95%;
    padding-bottom: 1.95%;
  }
  .choice .drop {
    display: block;
    font: 8px Helvetica, Tahoma, serif;
    text-transform: uppercase;
    width: 100%;
    padding: 0;
  }
  .choice .drop i {
    float: right;
    margin-left: 5px;
    color: #c2c2c2;
  }
  .choice .drop li {
    list-style: none;
  }
  .choice .drop .button-dropdown {
    position: relative;
  }
  .choice .drop li a {
    display: block;
    color: #c2c2c2;
    background-color: #fff;
    padding: 2.259887006%;
    text-decoration: none;
  }
  .choice .dropdown-toggle {
    border: 2px solid #c2c2c2;
    border-radius: 3px;
    display: block;
    color: #89939f;
    background-color: #fff;
    padding: 5px;
    text-decoration: none;
    margin-bottom: -7px;
    margin-top: -8px;
  }
  .choice .dropdown-menu li a:hover,
  .nav li a.dropdown-toggle.active {
    background-color: #00c0ff;
    color: #fff;
  }
  .choice .drop li .dropdown-menu {
    display: none;
    left: 0;
    padding: 0;
    margin: 0;
    margin-top: 6px;
    text-align: left;
    margin-bottom: -35px;
  }
  .choice .drop li .dropdown-menu a {
    width: 90%;
  }
  .bicons i {
    margin-right: 5px;
    font-size: 17px;
  }
  #picimgb {
    /*Positioning the image*/
    max-width: 96%;
    height: auto;
    padding: 1.6% 1.6% 1.6% 0;
    display: block;
  }
  input {
    /*Styling the input boxes*/
    border: 2px solid #c2c2c2;
    border-radius: 3px;
    padding: 2.259887006% 58% 2.259887006% 1.694915254%;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    color: #c2c2c2;
    display: block;
  }
  input:active {
    border: 2px solid #00c0ff;
  }
  form {
    /*Styling the input names \above the boxes/*/
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 12px;
    color: #c2c2c2;
    padding-left: 2.747252747%;
    padding-bottom: 2.747252747%;
  }
  #fill {
    /*Positioning the input boxes and their name seperately*/
    border: 1px solid white;
    padding-bottom: 5.3%;
  }
  #big {
    /*Positioning the big on the bottom boxes and their names*/
    border: 1px solid white;
  }
  textarea {
    vertical-align: top;
    height: 40px;
    max-height: 40px;
    nax-width: 90%;
    color: #777;
    border: 2px solid #c2c2c2;
    border-radius: 3px;
  }
  .deets {
    background-color: #fff;
  }
  .deets h2 {
    font-family: "Arial", Helvetica, sans-serif;
    color: #414042;
    border: 1px solid #00c0ff;
    background-color: #00c0ff;
    padding: 5px 10px 5px 13px;
    margin-top: -0.1px;
    margin-bottom: -0.1px;
  }
  #medium {
    border: 1px solid white;
    padding-bottom: 1.95%;
    padding-right: 5px;
  }
  #medium input {
    border: 2px solid #c2c2c2;
    border-radius: 3px;
    margin-top: 4px;
    padding: 3px 58% 30px 3px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    color: #c2c2c2;
  }
  #medium i {
    margin-right: 5px;
  }
  #mediumlong i {
    margin-right: 5px;
  }
  #right-short {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 12px;
    color: #c2c2c2;
    border: 1px solid white;
    background-color: #fff;
    float: left;
    display: inline;
    width: 29.35483871%;
    margin-left: 0;
    padding-top: 1.95%;
    padding-bottom: 1.95%;
  }
  .autre {
    background-color: #fff;
  }
  .autre h2 {
    font-family: "Arial", Helvetica, sans-serif;
    color: #414042;
    border: 1px solid #ffd200;
    background-color: #ffd200;
    padding: 5px 10px 5px 13px;
    margin-top: -0.1px;
    margin-bottom: -0.1px;
  }
  #mediumlong {
    border: 1px solid white;
    max-width: 100%;
    padding-right: 2px;
  }
  #mediumlong input {
    border: 2px solid #c2c2c2;
    border-radius: 3px;
    margin-top: 4px;
    padding: 2px 0 32px 4px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    color: #c2c2c2;
    width: 90%;
  }
  #inputs {
    clear: both;
  }
  #inputs input {
    clear: both;
  }
  #last {
    margin-bottom: 30px;
  }
  .slider {
    background-color: #fff;
  }
  .slider h2 {
    font-family: "Arial", Helvetica, sans-serif;
    color: #fff;
    border: 1px solid #89939f;
    background-color: #89939f;
    padding: 5px 10px 5px 13px;
    margin-top: -0.1px;
    margin-bottom: -0.1px;
  }
  #imageparts {
    /*Styling the SLIDE headings*/
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #c2c2c2;
  }
  #slide {
    /*Positioning each section of image and caption*/
    border: 1px solid white;
    width: 17%;
    float: left;
    display: inline;
    background-color: white;
    padding: 13px 0 0 10px;
  }
  #supload {
    width: 100px;
    height: 100px;
    display: block;
    border: 2px dashed #c2c2c2;
    padding: 9px 28.87%;
    margin-bottom: 15px;
    margin-top: 4px;
  }
  #caption {
    border: 1px solid white;
    width: 90%;
    margin-bottom: 0;
  }
  #caption input {
    border: 2px solid #c2c2c2;
    border-radius: 3px;
    margin-top: 4px;
    padding: 3px 0 15px 3px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    color: #c2c2c2;
    width: 96%;
    display: block;
  }
}
